
# OSX files
.DS_Store

*.log

# Android Studio Navigation editor temp files
.navigation/
*.iml
.idea

#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
.navigation
captures/
output.json #Since Android Studio 3.0


# Intellij
*.iml
.idea/workspace.xml
.idea/libraries

# Keystore files
*.jks


### Intellij+iml ###
# User-specific stuff:
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

### Intellij+iml Patch ###
# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

modules.xml
.idea/misc.xml
*.ipr