# OSX files
.DS_Store


# Intellij
*.iml
.idea/workspace.xml
.idea/libraries


### Intellij+iml ###
# User-specific stuff:
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# IntelliJ
/out/

# JIRA plugin
atlassian-ide-plugin.xml

# Others
.clang-format
cmake-build-debug
venv
CMakeLists.txt
.idea


modules.xml
*.ipr